body{
    box-sizing: border-box;
    font-family: cormorant;
}

@font-face {
    font-family: cormorant;
    src: url(../../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf);
}

h1{
    color: white;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(136, 148, 255);    
}

#submitBtn {
  width: 100%;
  padding: 12px;
  margin-bottom: 25px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  z-index: 10;
  background: rgb(255, 157, 157);
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.shiny {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 16px;
}

.shiny::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.shiny:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.edt{
    color: #7bff80;
}

.trsh{
    color: #ffa39c;
}

.act{
    cursor: pointer;
    margin-left: 10px;
    font-size: larger;
}

.task-input, .search-bar, #tasksd{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.task-item label span{
    margin-left: 10px;
    font-size: 22px;
}
#tasksd{
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#submitBtn:hover {
  background: rgb(255, 100, 100);
}
/* 
#submitBtn, #search{
  width: 70%;} */