/* linear-gradient(135deg, #667eea, #764ba2); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: system-ui, sans-serif;
}

form {
  border: 2px solid;
  padding: 50px;
  border-radius: 12px;
  background-color: whitesmoke;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

form h1, p {
  text-align: center;
}

form p {
    color: rgba(117, 116, 116, 0.4);
}

form .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;
}

form button {
  color: white;
  width: 100%;
  border-radius: 12px;
  padding: 8px 0px;
  font-size: 24px;
  font-weight: 600;
  background-color: #667eea;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

#name,
#email,
#password {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  /* font-weight: 700; */
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

label {
    padding-left: 15px;
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 2px;
}


form button:hover {
    transform: translateY(-2px);
    background-color: #764ba2;
}